<!--dev-->
<link rel="stylesheet" href="../css/prism.css" />
<link rel="stylesheet" href="../css/documentation.css" />
<link rel="stylesheet/less" type="text/css" href="../../../src/jess.less" />
<script src="../js/prism.js" type="text/javascript"></script>
<script
  src="../../../node_modules/less/dist/less.min.js"
  type="text/javascript"
></script>
<!--end-->
{{# partials.header #}}
<body id="components">
  <main>
    <aside class="sticky">
      <nav>
        <ul>
          <li>
            <a href="#card">Card</a>
          </li>
          <li>
            <a href="#modal">Modal</a>
          </li>
          <li>
            <a href="#dropdown">Dropdown</a>
          </li>
          <li>
            <a href="#breadcrumb">Breadcrumb</a>
          </li>
          <li>
            <a href="#switch">Switch</a>
          </li>
          <li>
            <a href="#components" class="button normal full-width"
              >Back to top</a
            >
          </li>
        </ul>
      </nav>
    </aside>

    <section>
      <article>
        <header>
          <h1>Components</h1>
        </header>
        <p>TODO</p>
      </article>

      <article id="card">
        <header>
          <h2>Card</h2>
        </header>
        <p>TODO</p>
      </article>

      <article id="modal">
        <header>
          <h2>Modal</h2>
        </header>
        <p>TODO</p>
      </article>

      <article id="dropdown">
        <header>
          <h2>Dropdown</h2>
        </header>
      </article>

      <article id="breadcrumb">
        <header>
          <h2>Breadcrumb</h2>
        </header>
      </article>

      <article id="switch">
        <header>
          <h2>Switch</h2>
        </header>
        <label class="switch">
          <input type="checkbox" hidden />
          <span class="toggle"></span>
          <span class="toggle-background"></span>
        </label>

        <label class="switch">
          <input type="checkbox" hidden disabled />
          <span class="toggle"></span>
          <span class="toggle-background"></span>
        </label>

        <label class="switch">
          <input type="checkbox" hidden checked disabled />
          <span class="toggle"></span>
          <span class="toggle-background"></span>
        </label>

        <label class="switch">
          <input type="checkbox" hidden />
          <span class="toggle"></span>
          <span
            class="toggle-background"
            data-label="Off"
            data-label-on="On"
          ></span>
        </label>

        <label class="switch switch-margin">
          <input type="checkbox" hidden />
          <span class="toggle"></span>
          <span
            class="toggle-background label-right"
            data-label="Off"
            data-label-on="On"
          ></span>
        </label>

        <label class="switch">
          <input type="checkbox" hidden />
          <span class="toggle"></span>
          <span class="toggle-background" data-label="Off state only"></span>
        </label>

        <label class="switch">
          <input type="checkbox" hidden checked />
          <span class="toggle"></span>
          <span class="toggle-background" data-label-on="On state only"></span>
        </label>

        <hr />
        <small
          ><b>N.B.</b> when using the data-label attribute, make sure it will
          fit in your design.</small
        >
      </article>
    </section>
  </main>
</body>
