<!--dev-->
<link rel="stylesheet" href="../css/prism.css" />
<link rel="stylesheet" href="../css/documentation.css" />
<link rel="stylesheet/less" type="text/css" href="../../../src/jess.less" />
<script src="../js/prism.js" type="text/javascript"></script>
<script
  src="../../../node_modules/less/dist/less.min.js"
  type="text/javascript"
></script>
<!--end-->
{{# partials.header #}}
<body id="elements">
  <main>
    <aside class="sticky">
      <nav>
        <ul>
          <li>
            <a href="#buttons">Buttons</a>
          </li>
          <li>
            <a href="#links">Links</a>
          </li>
          <li>
            <a href="#elements" class="button normal full-width">Back to top</a>
          </li>
        </ul>
      </nav>
    </aside>

    <section>
      <article>
        <header>
          <h1>Elements</h1>
        </header>
        <p>
          All the elements on this page are fully controlled by the theme.
          <br />
          Here you will find the elements from the default theme.
        </p>
      </article>

      <article id="buttons">
        <header>
          <h2>Buttons</h2>
        </header>
        <section class="column dont-stretch">
          <button>A standard button</button>
          <button class="no-border">A button without a border</button>
          <button class="link">A link button</button>
          <button class="link accent">An accent colored link button</button>
          <button class="link danger">A danger colored link button</button>
          <button class="primary">A button with primary color</button>
          <button class="accent">A button with accent color</button>
          <button class="danger">A button with danger color</button>
        </section>
        <pre
          class="border"
        ><code class="language-html">{{! buttons }}</code></pre>
      </article>

      <article id="links">
        <header>
          <h2>Links</h2>
        </header>
        <section class="column dont-stretch">
          <a href>A standard link</a>
          <a href class="accent">An accent colored link</a>
          <a href class="danger">A danger colored link</a>
          <a href class="button">A link as a button</a>
          <a href class="button normal">A link as normal button</a>
          <a href class="button primary">A link as primary button</a>
          <a href class="button accent">A link as accent button</a>
          <a href class="button danger">A link as danger button</a>
        </section>
        <pre
          class="border"
        ><code class="language-html">{{! links }}</code></pre>
      </article>
    </section>
  </main>
</body>
