<!--dev-->
<link rel="stylesheet" href="../css/prism.css" />
<link rel="stylesheet" href="../css/documentation.css" />
<link rel="stylesheet/less" type="text/css" href="../../../src/jess.less" />
<script src="../js/prism.js" type="text/javascript"></script>
<script
  src="../../../node_modules/less/dist/less.min.js"
  type="text/javascript"
></script>
<!--end-->
{{# partials.header #}}
<body id="layout">
  <main>
    <aside>
      <nav class="sticky">
        <header>
          <h2>Index</h2>
        </header>
        <ul>
          <li><a href="#single-column">Single column</a></li>
          <li><a href="#two-columns">Two columns</a></li>
          <li><a href="#three-columns">Three columns</a></li>
          <li><a href="#four-columns">Four columns</a></li>
          <li><a href="#five-columns">Five columns</a></li>
          <li><a href="#six-columns">Six columns</a></li>
          <li><a href="#twelve-columns">Twelve columns</a></li>
          <li><a href="#center">Center</a></li>
          <li><a href="#aside">Aside</a></li>
          <li><a href="#utility-classes">Utility classes</a></li>
          <li>
            <a href="#layout" class="button normal full-width">Back to top</a>
          </li>
        </ul>
      </nav>
    </aside>

    <section>
      <article>
        <header>
          <h1>Layout elements</h1>
        </header>
        <p>
          The elements
          <code class="language-html">&lt;main&gt;</code>,
          <code class="language-html">&lt;section&gt;</code> and
          <code class="language-html">&lt;fieldset&gt;</code> are all displayed
          with <code class="language-css">display:flex</code>.
          <br />
          The child elements are all displayed by default at
          <code class="language-css">width: 100%</code> which results in a
          single column. <br />
          All columns will be automatically scaled down and wrapped when the
          viewport can not fit all the columns properly. <br />
          You can try it by resizing the browser.
        </p>
        <hr />
        <small>
          <b>N.B.</b> The blue fill texture is for demonstration purpose only.
        </small>
      </article>
      <article id="single-column">
        <header>
          <h2>Single column</h2>
        </header>
        <p>
          All child elements start out as
          <code class="language-css">width:100%;</code> and will take up more
          space if there is room, up to their specified maximum.
        </p>
        <section><div class="demo-block">Block 100% width</div></section>
        <pre
          class="border"
        ><code class="language-html">{{! block_100 }}</code></pre>
      </article>

      <article id="two-columns">
        <header>
          <h2>Two columns</h2>
        </header>
        <p>
          Add <code class="language-html">class="two-columns"</code> to get a
          double column layout.
        </p>
        <ul>
          <li>
            It will display two columns when the viewport has
            <code class="language-css">min-width:576px;</code>
          </li>
        </ul>
        <section class="two-columns">
          <div class="demo-block">Block 50% width</div>
          <div class="demo-block">Block 50% width</div>
        </section>
        <pre
          class="border"
        ><code class="language-html">{{! block_50 }}</code></pre>
      </article>

      <article id="three-columns">
        <header>
          <h2>Three columns</h2>
        </header>
        <p>
          Add <code class="language-html">class="three-columns"</code> to get a
          three column layout.
        </p>
        <ul>
          <li>
            It will display three columns when the viewport has
            <code class="language-css">min-width:768px;</code>
          </li>
          <li>
            It will display two columns when the viewport has
            <code class="language-css">min-width:576px;</code>
          </li>
        </ul>
        <section class="three-columns">
          <div class="demo-block">Block 33.336% width</div>
          <div class="demo-block">Block 33.336% width</div>
          <div class="demo-block">Block 33.336% width</div>
        </section>
        <pre
          class="border"
        ><code class="language-html">{{! block_33 }}</code></pre>
      </article>

      <article id="four-columns">
        <header>
          <h2>Four columns</h2>
        </header>
        <p>
          Add <code class="language-html">class="four-columns"</code> to get a
          four column layout.
        </p>
        <ul>
          <li>
            It will display four columns when the viewport has
            <code class="language-css">min-width:992px;</code>
          </li>
          <li>
            It will display three columns when the viewport has
            <code class="language-css">min-width:768px;</code>
          </li>
          <li>
            It will display two columns when the viewport has
            <code class="language-css">min-width:576px;</code>
          </li>
        </ul>

        <section class="four-columns">
          <div class="demo-block">Block 25% width</div>
          <div class="demo-block">Block 25% width</div>
          <div class="demo-block">Block 25% width</div>
          <div class="demo-block">Block 25% width</div>
        </section>
        <pre
          class="border"
        ><code class="language-html">{{! block_25 }}</code></pre>
      </article>

      <article id="five-columns">
        <header>
          <h2>Five columns</h2>
        </header>
        <p>
          Add <code class="language-html">class="five-columns"</code> to get a
          five column layout.
        </p>
        <ul>
          <li>
            It will display five columns when the viewport has
            <code class="language-css">min-width:1200px;</code>
          </li>
          <li>
            It will display four columns when the viewport has
            <code class="language-css">min-width:992px;</code>
          </li>
          <li>
            It will display three columns when the viewport has
            <code class="language-css">min-width:768px;</code>
          </li>
          <li>
            It will display two columns when the viewport has
            <code class="language-css">min-width:576px;</code>
          </li>
        </ul>
        <section class="five-columns">
          <div class="demo-block">Block 20% width</div>
          <div class="demo-block">Block 20% width</div>
          <div class="demo-block">Block 20% width</div>
          <div class="demo-block">Block 20% width</div>
          <div class="demo-block">Block 20% width</div>
        </section>
        <pre
          class="border"
        ><code class="language-html">{{! block_20 }}</code></pre>
      </article>

      <article id="six-columns">
        <header>
          <h2>Six columns</h2>
        </header>
        <p>
          Add <code class="language-html">class="six-columns"</code> to get a
          six column layout.
        </p>
        <ul>
          <li>
            It will display six columns when the viewport has
            <code class="language-css">min-width:1400px;</code>
          </li>
          <li>
            It will display five columns when the viewport has
            <code class="language-css">min-width:1200px;</code>
          </li>
          <li>
            It will display four columns when the viewport has
            <code class="language-css">min-width:992px;</code>
          </li>
          <li>
            It will display three columns when the viewport has
            <code class="language-css">min-width:768px;</code>
          </li>
          <li>
            It will display two columns when the viewport has
            <code class="language-css">min-width:576px;</code>
          </li>
        </ul>
        <section class="six-columns">
          <div class="demo-block">Block 16.667% width</div>
          <div class="demo-block">Block 16.667% width</div>
          <div class="demo-block">Block 16.667% width</div>
          <div class="demo-block">Block 16.667% width</div>
          <div class="demo-block">Block 16.667% width</div>
          <div class="demo-block">Block 16.667% width</div>
        </section>
        <pre
          class="border"
        ><code class="language-html">{{! block_16 }}</code></pre>
      </article>

      <article id="twelve-columns">
        <header>
          <h2>Twelve columns</h2>
        </header>
        <p>
          Add <code class="language-html">class="twelve-columns"</code> to get a
          twelve column layout.
        </p>
        <ul>
          <li>
            It will display twelve columns when the viewport has
            <code class="language-css">min-width:1400px;</code>
          </li>
          <li>
            It will display six columns when the viewport has
            <code class="language-css">min-width:1200px;</code>
          </li>
          <li>
            It will display five columns when the viewport has
            <code class="language-css">min-width:992px;</code>
          </li>
          <li>
            It will display four columns when the viewport has
            <code class="language-css">min-width:768px;</code>
          </li>
          <li>
            It will display three columns when the viewport has
            <code class="language-css">min-width:576px;</code>
          </li>
        </ul>
        <section class="twelve-columns">
          <div class="demo-block">Block 8.3333% width</div>
          <div class="demo-block">Block 8.3333% width</div>
          <div class="demo-block">Block 8.3333% width</div>
          <div class="demo-block">Block 8.3333% width</div>
          <div class="demo-block">Block 8.3333% width</div>
          <div class="demo-block">Block 8.3333% width</div>
          <div class="demo-block">Block 8.3333% width</div>
          <div class="demo-block">Block 8.3333% width</div>
          <div class="demo-block">Block 8.3333% width</div>
          <div class="demo-block">Block 8.3333% width</div>
          <div class="demo-block">Block 8.3333% width</div>
          <div class="demo-block">Block 8.3333% width</div>
        </section>
        <pre
          class="border"
        ><code class="language-html">{{! block_8 }}</code></pre>
      </article>

      <article id="center">
        <header>
          <h2>Center</h2>
        </header>
        <p>
          Add <code class="language-html">class="center"</code> to get a single
          element centered vertically and horizontally. It has
          <code class="language-css">height:100vh;</code> by default. <br />
          It works well for a login screen or a single card that needs to be
          centered.
        </p>
        <p>It has the following variants available:</p>
        <ul>
          <li>
            <code class="language-html">class="center"</code>
            <ul>
              <li>It will take 100vh and will be centered horizontally.</li>
              <li>
                if the screen is has
                <code class="language-css">min-width:576px;</code> it will be
                centered vertically.
              </li>
            </ul>
          </li>
          <li>
            <code class="language-html">class="center with-header"</code>
            <ul>
              <li>It will subtract the height of the header from the area.</li>
            </ul>
          </li>
          <li>
            <code class="language-html">class="center with-footer"</code>
            <ul>
              <li>It will subtract the height of the footer from the area.</li>
            </ul>
          </li>
          <li>
            <code class="language-html"
              >class="center with-header with-footer"</code
            >
            <ul>
              <li>
                It will subtract both height of the header and the footer from
                the area.
              </li>
            </ul>
          </li>
        </ul>
        <pre
          class="border"
        ><code class="language-html">{{! center_layout }}</code></pre>
        <div class="border">
          <section class="center">
            <article class="demo-block auto-width">
              <p>A centered element</p>
            </article>
          </section>
        </div>
        <hr />
        <div class="border">
          <nav>Demo navbar</nav>
          <section class="center with-header">
            <article class="demo-block auto-width">
              <p>A centered element with a header</p>
            </article>
          </section>
        </div>
        <div class="border">
          <section class="center with-footer">
            <article class="demo-block auto-width">
              <p>A centered element with a footer</p>
            </article>
          </section>
          <footer>Demo footer</footer>
        </div>
        <hr />
        <div class="border">
          <nav>Demo navbar</nav>
          <section class="center with-header with-footer">
            <article class="demo-block auto-width">
              <p>A centered element with a header and a footer</p>
            </article>
          </section>
          <footer>Demo footer</footer>
        </div>
      </article>

      <article id="aside">
        <header>
          <h2>Aside layout</h2>
        </header>
        <p>
          The aside layout can be used if you want to have a small - wide
          layout. horizontal layout. <br />
          The aside element has a
          <code class="language-css">width:auto;</code><br />
          The element on the right will have
          <code class="language-css">flex:1;</code> and take the remaining
          space. <br />
          Only the first element must be
          <code class="language-html">&lt;aside&gt;</code>, the right side can
          be any element.
        </p>
        <pre
          class="border"
        ><code class="language-html">{{! aside_layout }}</code></pre>
        <hr />
        <small>
          <b>Fun fact:</b> the current page uses this aside layout for having a
          vertical navigation bar.
        </small>
      </article>

      <article id="utility-classes">
        <header>
          <h2>Utility classes</h2>
        </header>
        <p>
          By default the direction is set as row and the contents will be
          stretched to take up the full space.
        </p>
        <ul>
          <li>
            You can change the direction with the class:
            <ul>
              <li>
                <code class="language-html">column</code>
              </li>
            </ul>
          </li>
          <li>
            You can make the child elements to not stretch with:
            <ul>
              <li>
                <code class="language-html">dont-stretch</code>
              </li>
            </ul>
          </li>
        </ul>
        <hr />
      </article>
    </section>
  </main>
</body>
