<!--dev-->
<link rel="stylesheet" href="../css/prism.css" />
<link rel="stylesheet" href="../css/documentation.css" />
<link rel="stylesheet/less" type="text/css" href="../../../src/jess.less" />
<script src="../js/prism.js" type="text/javascript"></script>
<script
  src="../../../node_modules/less/dist/less.min.js"
  type="text/javascript"
></script>
<!--end-->
{{# partials.open #}}
<body id="layout">
  {{# partials.header #}}
  <main>
    <aside>
      <nav class="sticky">
        <ul>
          <li><a href="#single-column">Single column</a></li>
          <li><a href="#two-columns">Two columns</a></li>
          <li><a href="#three-columns">Three columns</a></li>
          <li><a href="#four-columns">Four columns</a></li>
          <li><a href="#five-columns">Five columns</a></li>
          <li><a href="#six-columns">Six columns</a></li>
          <li><a href="#twelve-columns">Twelve columns</a></li>
          <li><a href="#center">Center</a></li>
          <li><a href="#aside">Aside</a></li>
          <li><a href="#nav">Nav</a></li>
          <li><a href="#footer">Footer</a></li>
          <li><a href="#utility-classes">Utility classes</a></li>
          <li><a href="#nested">Nested sections example</a></li>
          <li>
            <a href="#layout" class="button normal desktop">Back to top</a>
          </li>
        </ul>
      </nav>
    </aside>

    <section>
      <article>
        <header>
          <h1>Layout elements</h1>
        </header>
        <p>
          The elements
          <code class="language-html">&lt;main&gt;</code>,
          <code class="language-html">&lt;section&gt;</code> and
          <code class="language-html">&lt;fieldset&gt;</code> are all displayed
          with <code class="language-css">display:flex</code>.
          <br />
          The child elements are all displayed by default at
          <code class="language-css">width: 100%</code> which results in a
          single column. <br />
          All columns will be automatically scaled down and wrapped when the
          viewport can not fit all the columns properly. <br />
          You can try it by resizing the browser.
        </p>
        <hr />
        <small>
          <b>N.B.</b> The blue fill texture is for demonstration purpose only.
        </small>
      </article>
      <article id="single-column">
        <header>
          <h2>Single column</h2>
        </header>
        <p>
          All child elements start out as
          <code class="language-css">width:100%;</code> and will take up more
          space if there is room, up to their specified maximum.
        </p>
        <section><div class="demo-block">Block 100% width</div></section>
        <pre
          class="border"
        ><code class="language-html">{{! block_100 }}</code></pre>
      </article>

      <article id="two-columns">
        <header>
          <h2>Two columns</h2>
        </header>
        <p>
          Add <code class="language-html">class="two-columns"</code> to get a
          double column layout.
        </p>
        <ul>
          <li>
            It will display two columns when the viewport has
            <code class="language-css">min-width:576px;</code>
          </li>
        </ul>
        <section class="two-columns">
          <div class="demo-block">Block 50% width</div>
          <div class="demo-block">Block 50% width</div>
        </section>
        <pre
          class="border"
        ><code class="language-html">{{! block_50 }}</code></pre>
      </article>

      <article id="three-columns">
        <header>
          <h2>Three columns</h2>
        </header>
        <p>
          Add <code class="language-html">class="three-columns"</code> to get a
          three column layout.
        </p>
        <ul>
          <li>
            It will display three columns when the viewport has
            <code class="language-css">min-width:768px;</code>
          </li>
          <li>
            It will display two columns when the viewport has
            <code class="language-css">min-width:576px;</code>
          </li>
        </ul>
        <section class="three-columns">
          <div class="demo-block">Block 33.336% width</div>
          <div class="demo-block">Block 33.336% width</div>
          <div class="demo-block">Block 33.336% width</div>
        </section>
        <pre
          class="border"
        ><code class="language-html">{{! block_33 }}</code></pre>
      </article>

      <article id="four-columns">
        <header>
          <h2>Four columns</h2>
        </header>
        <p>
          Add <code class="language-html">class="four-columns"</code> to get a
          four column layout.
        </p>
        <ul>
          <li>
            It will display four columns when the viewport has
            <code class="language-css">min-width:992px;</code>
          </li>
          <li>
            It will display three columns when the viewport has
            <code class="language-css">min-width:768px;</code>
          </li>
          <li>
            It will display two columns when the viewport has
            <code class="language-css">min-width:576px;</code>
          </li>
        </ul>

        <section class="four-columns">
          <div class="demo-block">Block 25% width</div>
          <div class="demo-block">Block 25% width</div>
          <div class="demo-block">Block 25% width</div>
          <div class="demo-block">Block 25% width</div>
        </section>
        <pre
          class="border"
        ><code class="language-html">{{! block_25 }}</code></pre>
      </article>

      <article id="five-columns">
        <header>
          <h2>Five columns</h2>
        </header>
        <p>
          Add <code class="language-html">class="five-columns"</code> to get a
          five column layout.
        </p>
        <ul>
          <li>
            It will display five columns when the viewport has
            <code class="language-css">min-width:1200px;</code>
          </li>
          <li>
            It will display four columns when the viewport has
            <code class="language-css">min-width:992px;</code>
          </li>
          <li>
            It will display three columns when the viewport has
            <code class="language-css">min-width:768px;</code>
          </li>
          <li>
            It will display two columns when the viewport has
            <code class="language-css">min-width:576px;</code>
          </li>
        </ul>
        <section class="five-columns">
          <div class="demo-block">Block 20% width</div>
          <div class="demo-block">Block 20% width</div>
          <div class="demo-block">Block 20% width</div>
          <div class="demo-block">Block 20% width</div>
          <div class="demo-block">Block 20% width</div>
        </section>
        <pre
          class="border"
        ><code class="language-html">{{! block_20 }}</code></pre>
      </article>

      <article id="six-columns">
        <header>
          <h2>Six columns</h2>
        </header>
        <p>
          Add <code class="language-html">class="six-columns"</code> to get a
          six column layout.
        </p>
        <ul>
          <li>
            It will display six columns when the viewport has
            <code class="language-css">min-width:1400px;</code>
          </li>
          <li>
            It will display five columns when the viewport has
            <code class="language-css">min-width:1200px;</code>
          </li>
          <li>
            It will display four columns when the viewport has
            <code class="language-css">min-width:992px;</code>
          </li>
          <li>
            It will display three columns when the viewport has
            <code class="language-css">min-width:768px;</code>
          </li>
          <li>
            It will display two columns when the viewport has
            <code class="language-css">min-width:576px;</code>
          </li>
        </ul>
        <section class="six-columns">
          <div class="demo-block">Block 16.667% width</div>
          <div class="demo-block">Block 16.667% width</div>
          <div class="demo-block">Block 16.667% width</div>
          <div class="demo-block">Block 16.667% width</div>
          <div class="demo-block">Block 16.667% width</div>
          <div class="demo-block">Block 16.667% width</div>
        </section>
        <pre
          class="border"
        ><code class="language-html">{{! block_16 }}</code></pre>
      </article>

      <article id="twelve-columns">
        <header>
          <h2>Twelve columns</h2>
        </header>
        <p>
          Add <code class="language-html">class="twelve-columns"</code> to get a
          twelve column layout.
        </p>
        <ul>
          <li>
            It will display twelve columns when the viewport has
            <code class="language-css">min-width:1400px;</code>
          </li>
          <li>
            It will display six columns when the viewport has
            <code class="language-css">min-width:1200px;</code>
          </li>
          <li>
            It will display five columns when the viewport has
            <code class="language-css">min-width:992px;</code>
          </li>
          <li>
            It will display four columns when the viewport has
            <code class="language-css">min-width:768px;</code>
          </li>
          <li>
            It will display three columns when the viewport has
            <code class="language-css">min-width:576px;</code>
          </li>
        </ul>
        <section class="twelve-columns">
          <div class="demo-block">Block 8.3333% width</div>
          <div class="demo-block">Block 8.3333% width</div>
          <div class="demo-block">Block 8.3333% width</div>
          <div class="demo-block">Block 8.3333% width</div>
          <div class="demo-block">Block 8.3333% width</div>
          <div class="demo-block">Block 8.3333% width</div>
          <div class="demo-block">Block 8.3333% width</div>
          <div class="demo-block">Block 8.3333% width</div>
          <div class="demo-block">Block 8.3333% width</div>
          <div class="demo-block">Block 8.3333% width</div>
          <div class="demo-block">Block 8.3333% width</div>
          <div class="demo-block">Block 8.3333% width</div>
        </section>
        <pre
          class="border"
        ><code class="language-html">{{! block_8 }}</code></pre>
      </article>

      <article id="center">
        <header>
          <h2>Center</h2>
        </header>
        <p>
          Add <code class="language-html">class="center"</code> to get a single
          element centered vertically and horizontally. It has
          <code class="language-css">height:100vh;</code> by default. <br />
          It works well for a login screen or a single card that needs to be
          centered.
        </p>
        <p>It has the following variants available:</p>
        <ul>
          <li>
            <code class="language-html">class="center"</code>
            <ul>
              <li>It will take 100vh and will be centered horizontally.</li>
              <li>
                if the screen is has
                <code class="language-css">min-width:576px;</code> it will be
                centered vertically.
              </li>
            </ul>
          </li>
          <li>
            <code class="language-html">class="center with-header"</code>
            <ul>
              <li>It will subtract the height of the header from the area.</li>
            </ul>
          </li>
          <li>
            <code class="language-html">class="center with-footer"</code>
            <ul>
              <li>It will subtract the height of the footer from the area.</li>
            </ul>
          </li>
          <li>
            <code class="language-html"
              >class="center with-header with-footer"</code
            >
            <ul>
              <li>
                It will subtract both height of the header and the footer from
                the area.
              </li>
            </ul>
          </li>
          <li>
            <code class="language-html">content-top</code>
            <ul>
              <li>
                If you add content-top class to any of the above, the child will
                only be horizontally centered and not vertically
              </li>
            </ul>
          </li>
        </ul>
        <pre
          class="border"
        ><code class="language-html">{{! center_layout }}</code></pre>
        <div class="border">
          <section class="center">
            <article class="demo-block w-50">
              <p>A centered element</p>
            </article>
          </section>
        </div>
        <hr />
        <div class="border">
          <nav class="demo-navbar">Demo navbar</nav>
          <section class="center with-header">
            <article class="demo-block w-50">
              <p>A centered element with a header</p>
            </article>
          </section>
        </div>
        <div class="border">
          <section class="center with-footer">
            <article class="demo-block w-50">
              <p>A centered element with a footer</p>
            </article>
          </section>
          <footer class="demo-footer">Demo footer</footer>
        </div>
        <hr />
        <div class="border">
          <nav class="demo-navbar">Demo navbar</nav>
          <section class="center with-header with-footer">
            <article class="demo-block w-50">
              <p>A centered element with a header and a footer</p>
            </article>
          </section>
          <footer class="demo-footer">Demo footer</footer>
        </div>
      </article>

      <article id="aside">
        <header>
          <h2>Aside layout</h2>
        </header>
        <p>
          The aside layout can be used if you want to have a small - wide
          layout. horizontal layout. <br />
          The aside element has a
          <code class="language-css">width:auto;</code><br />
          The element on the right will have
          <code class="language-css">flex:1;</code> and take the remaining
          space. <br />
          Only the first element must be
          <code class="language-html">&lt;aside&gt;</code>, the right side can
          be any element.
        </p>
        <pre
          class="border"
        ><code class="language-html">{{! aside_layout }}</code></pre>
        <hr />
        <small>
          <b>Fun fact:</b> the current page uses this aside layout for having a
          vertical navigation bar.
        </small>
      </article>

      <article id="nav">
        <header>
          <h2>Nav</h2>
        </header>
        <p>
          When you include a
          <code class="language-html">&lt;nav&gt;</code> element directly inside
          a <code class="language-html">&lt;body&gt;</code> element it will:
        </p>
        <ul>
          <li>Have a box-shadow</li>
          <li>Have <code class="language-css">min-height: 5rem;</code></li>
          <li>Have <code class="language-css">padding: 1.5rem;</code></li>
        </ul>
        <hr />
        <section>
          <nav class="demo-navbar">Navigation bar</nav>
        </section>
        <p>
          A navigation bar with links using
          <code class="language-html">ul</code> and
          <code class="language-html">li</code>:
        </p>
        <section>
          <nav class="demo-navbar">
            <ul>
              <li><a href>Link 1</a></li>
              <li><a href>Link 2</a></li>
              <li><a href>Link 3</a></li>
            </ul>
          </nav>
        </section>
        <hr />
        <pre
          class="border"
        ><code class="language-html">{{! nav_layout }}</code></pre>
      </article>

      <article id="footer">
        <header>
          <h2>Footer</h2>
        </header>
        <p>
          When you include a
          <code class="language-html">&lt;footer&gt;</code> element directly
          inside a <code class="language-html">&lt;body&gt;</code> element it
          will:
        </p>
        <ul>
          <li>Have a box-shadow</li>
          <li>Have <code class="language-css">min-height: 5rem;</code></li>
          <li>Have <code class="language-css">padding: 1.5rem;</code></li>
        </ul>
        <hr />
        <section>
          <footer class="demo-footer">Footer</footer>
        </section>
        <pre
          class="border"
        ><code class="language-html">{{! footer_layout }}</code></pre>
      </article>

      <article id="utility-classes">
        <header>
          <h2>Utility classes</h2>
        </header>

        <table>
          <thead>
            <tr>
              <th>Class</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code class="language-html">sticky</code></td>
              <td>Makes it stick to the top when scrolling down.</td>
            </tr>
            <tr>
              <td><code class="language-html">no-scroll</code></td>
              <td>
                Remove all scrollbars, handy to apply on the body when opening a
                modal.
              </td>
            </tr>
            <tr>
              <td><code class="language-html">full-width</code></td>
              <td>Make an element take 100% of its parent size.</td>
            </tr>

            <tr>
              <td><code class="language-html">no-stretch</code></td>
              <td>
                Apply this to an element inside a flex layout to not make them
                take up all the space.
              </td>
            </tr>

            <tr>
              <td><code class="language-html no-wrap">d-inline-block</code></td>
              <td>Make an element display as an inline-block.</td>
            </tr>

            <tr>
              <td><code class="language-html">row</code></td>
              <td>
                Make an element display flex with the default row direction.
              </td>
            </tr>

            <tr>
              <td><code class="language-html">column</code></td>
              <td>Make an element display flex with the column direction</td>
            </tr>

            <tr>
              <td><code class="language-html">row-end</code></td>
              <td>
                When applied to an element inside a display flex element, you
                can have it move all the way to the right.
              </td>
            </tr>

            <tr>
              <td><code class="language-html">column-end</code></td>
              <td>
                When applied to an element inside a display flex element with
                the column direction, you can have it move all the way down to
                the bottom.
              </td>
            </tr>

            <tr>
              <td>
                <code class="language-html">center-content-vertical</code>
              </td>
              <td>
                This class can be used combined with <code>row</code> or
                <code>column</code> class to align all children along the Y-axis
                (top to bottom).
              </td>
            </tr>

            <tr>
              <td>
                <code class="language-html">center-content-horizontal</code>
              </td>
              <td>
                This class can be used combined with <code>row</code> or
                <code>column</code> class to align all children along the X-axis
                (left to right).
              </td>
            </tr>
            <tr>
              <td>
                <code class="language-html">space-between</code>
              </td>
              <td>
                This class can be used combined with <code>row</code> or
                <code>column</code> to align have the first and last child on
                the start and end and have even spaces in between.
              </td>
            </tr>

            <tr>
              <td><code class="language-html">auto-width</code></td>
              <td>Makes an element take on an auto-width.</td>
            </tr>
            <tr>
              <td><code class="language-html">no-wrap</code></td>
              <td>Makes a text not wrap.</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>

        <section>
          <h3>Width classes</h3>
          <hr />
          <p>
            Width classes that set the
            <code class="language-css">width</code> and
            <code class="language-css">min-width</code>, with safeguards for the
            padding <br />
            and out-of-the-box responsive fallback based on viewport max-width:
          </p>
          <br />

          <table>
            <thead>
              <tr>
                <th>Class</th>
                <th>CSS</th>
                <th>w-100</th>
                <th>w-50</th>
                <th>w-33</th>
                <th>w-25</th>
                <th>w-20</th>
                <th>w-16</th>
                <th>w-8</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><code class="language-css">w-100</code></td>
                <td>100%</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
              </tr>
              <tr>
                <td><code class="language-css">w-50</code></td>
                <td>calc(50% - 0.75rem)</td>
                <td>415px</td>
                <td>576px</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
              </tr>
              <tr>
                <td><code class="language-css">w-33</code></td>
                <td>calc(33.3333% - 1rem)</td>
                <td>415px</td>
                <td>576px</td>
                <td>768px</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
              </tr>
              <tr>
                <td><code class="language-css">w-25</code></td>
                <td>calc(25% - 1.13rem)</td>
                <td>415px</td>
                <td>576px</td>
                <td>768px</td>
                <td>992px</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
              </tr>
              <tr>
                <td><code class="language-css">w-20</code></td>
                <td>calc(20% - 1.2rem)</td>
                <td>415px</td>
                <td>576px</td>
                <td>768px</td>
                <td>992px</td>
                <td>1200px</td>
                <td>-</td>
                <td>-</td>
              </tr>
              <tr>
                <td><code class="language-css">w-16</code></td>
                <td>calc(16.6667% - 1.25rem)</td>
                <td>415px</td>
                <td>576px</td>
                <td>768px</td>
                <td>992px</td>
                <td>1200px</td>
                <td>1400px</td>
                <td>-</td>
              </tr>
              <tr>
                <td><code class="language-css">w-8</code></td>
                <td>calc(8.3333% - 1.375rem)</td>
                <td>415px</td>
                <td>-</td>
                <td>576px</td>
                <td>768px</td>
                <td>992px</td>
                <td>1200px</td>
                <td>1400px</td>
              </tr>
            </tbody>
          </table>
        </section>
        <section>
          <h3>Hide / show for Mobile and Desktop layout</h3>
          <hr />

          <table>
            <thead>
              <tr>
                <th>Class</th>
                <th>415px</th>
                <th>576px</th>
                <th>768px</th>
                <th>992px</th>
                <th>1200px</th>
                <th>1400px</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>mobile</td>
                <td>X</td>
                <td>X</td>
                <td>X</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
              </tr>
              <tr>
                <td>desktop</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>X</td>
                <td>X</td>
                <td>X</td>
              </tr>
            </tbody>
          </table>
        </section>
        <section>
          <h3>Margin utilities</h3>
          <hr />
          <table>
            <thead>
              <tr>
                <th>Class</th>
                <th>Top</th>
                <th>Right</th>
                <th>Bottom</th>
                <th>Left</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>margin</td>
                <td>1.5rem</td>
                <td>1.5rem</td>
                <td>1.5rem</td>
                <td>1.5rem</td>
              </tr>
              <tr>
                <td>margin-top</td>
                <td>1.5rem</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
              </tr>
              <tr>
                <td>margin-bottom</td>
                <td>-</td>
                <td>-</td>
                <td>1.5rem</td>
                <td>-</td>
              </tr>
              <tr>
                <td>margin-left</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>1.5rem</td>
              </tr>
              <tr>
                <td>margin-right</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
              </tr>
              <tr>
                <td>margin-x</td>
                <td>-</td>
                <td>1.5rem</td>
                <td>-</td>
                <td>1.5rem</td>
              </tr>
              <tr>
                <td>margin-y</td>
                <td>1.5rem</td>
                <td>-</td>
                <td>1.5rem</td>
                <td>-</td>
              </tr>
              <tr>
                <td>no-margin</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
            </tbody>
          </table>
        </section>

        <section>
          <h3>Padding utilities</h3>
          <hr />
          <table>
            <thead>
              <tr>
                <th>Class</th>
                <th>Top</th>
                <th>Right</th>
                <th>Bottom</th>
                <th>Left</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>padding</td>
                <td>1.5rem</td>
                <td>1.5rem</td>
                <td>1.5rem</td>
                <td>1.5rem</td>
              </tr>
              <tr>
                <td>padding-top</td>
                <td>1.5rem</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
              </tr>
              <tr>
                <td>padding-bottom</td>
                <td>-</td>
                <td>-</td>
                <td>1.5rem</td>
                <td>-</td>
              </tr>
              <tr>
                <td>padding-left</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>1.5rem</td>
              </tr>
              <tr>
                <td>padding-right</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
              </tr>
              <tr>
                <td>padding-x</td>
                <td>-</td>
                <td>1.5rem</td>
                <td>-</td>
                <td>1.5rem</td>
              </tr>
              <tr>
                <td>padding-y</td>
                <td>1.5rem</td>
                <td>-</td>
                <td>1.5rem</td>
                <td>-</td>
              </tr>
              <tr>
                <td>no-padding</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
            </tbody>
          </table>
        </section>
      </article>

      <article id="nested">
        <header>
          <h2>Nested sections example</h2>
        </header>
        <section>
          <div class="demo-block">Block</div>
          <section class="no-padding two-columns">
            <section class="five-columns">
              <div class="demo-block">Block</div>
              <div class="demo-block">Block</div>
              <div class="demo-block">Block</div>
              <div class="demo-block">Block</div>
              <div class="demo-block">Block</div>
            </section>
            <div class="demo-block">Block</div>
          </section>
        </section>
        <pre
          class="border"
        ><code class="language-html">{{! mixed_layout }}</code></pre>
      </article>
    </section>
  </main>
  {{# partials.footer #}}
</body>
{{# partials.close #}}
