<link rel="stylesheet" href="../css/Documentation.css" />
<link rel="stylesheet/less" type="text/css" href="../../../src/jess.less" />
<script
  src="../../../node_modules/less/dist/less.min.js"
  type="text/javascript"
></script>
<body>
  <main> 
    <aside>
      <nav>
        <ul>
          <li>A very long Link</li>
        </ul>
      </nav>
    </aside>

    <section class="background-contrast">
      <article>
        <h1>Sections</h1>
        <hr />
        <p>
          // TODO write something about how it works also make gifs that show
          the responsiveness
        </p>
      </article>
      <article>
        <header>
          <header>
            <h2>Single section</h2>
            <hr />
          </header>
        </header>
        <p>Sections are by default 100% width.</p>
        <section><div class="demo-block">Block 100% width</div></section>
      </article>

      <article>
        <header>
          <h2>Two column section</h2>
          <hr />
        </header>
        <p>A normal section with added class <code>two-columns</code></p>
        <section class="two-columns">
          <div class="demo-block">Block 50% width</div>
          <div class="demo-block">Block 50% width</div>
        </section>
      </article>

      <article>
        <header>
          <h2>Three column section</h2>
          <hr />
        </header>
        <p>A normal section with added class <code>three-columns</code></p>
        <section class="three-columns">
          <div class="demo-block">Block 33.336% width</div>
          <div class="demo-block">Block 33.336% width</div>
          <div class="demo-block">Block 33.336% width</div>
        </section>
      </article>

      <article>
        <header>
          <h2>Four column section</h2>
          <hr />
        </header>
        <p>A normal section with added class <code>four-columns</code></p>
        <section class="four-columns">
          <div class="demo-block">Block 25% width</div>
          <div class="demo-block">Block 25% width</div>
          <div class="demo-block">Block 25% width</div>
          <div class="demo-block">Block 25% width</div>
        </section>
      </article>

      <article>
        <header>
          <h2>Five column section</h2>
          <hr />
        </header>
        <p>A normal section with added class <code>five-columns</code></p>
        <section class="five-columns">
          <div class="demo-block">Block 20% width</div>
          <div class="demo-block">Block 20% width</div>
          <div class="demo-block">Block 20% width</div>
          <div class="demo-block">Block 20% width</div>
          <div class="demo-block">Block 20% width</div>
        </section>
      </article>

      <article>
        <header>
          <h2>Six column section</h2>
          <hr />
        </header>
        <p>A normal section with added class <code>six-columns</code></p>
        <section class="six-columns">
          <div class="demo-block">Block 16.667% width</div>
          <div class="demo-block">Block 16.667% width</div>
          <div class="demo-block">Block 16.667% width</div>
          <div class="demo-block">Block 16.667% width</div>
          <div class="demo-block">Block 16.667% width</div>
          <div class="demo-block">Block 16.667% width</div>
        </section>
      </article>

      <article>
        <header>
          <h2>Twelve column section</h2>
          <hr />
        </header>
        <p>A normal section with added class <code>twelve-columns</code></p>
        <section class="twelve-columns">
          <div class="demo-block">Block 8.3333% width</div>
          <div class="demo-block">Block 8.3333% width</div>
          <div class="demo-block">Block 8.3333% width</div>
          <div class="demo-block">Block 8.3333% width</div>
          <div class="demo-block">Block 8.3333% width</div>
          <div class="demo-block">Block 8.3333% width</div>
          <div class="demo-block">Block 8.3333% width</div>
          <div class="demo-block">Block 8.3333% width</div>
          <div class="demo-block">Block 8.3333% width</div>
          <div class="demo-block">Block 8.3333% width</div>
          <div class="demo-block">Block 8.3333% width</div>
          <div class="demo-block">Block 8.3333% width</div>
        </section>
      </article>
    </section>
  </main>
</body>
