<!--dev-->
<link rel="stylesheet" href="../css/prism.css" />
<link rel="stylesheet" href="../css/documentation.css" />
<link rel="stylesheet/less" type="text/css" href="../../../src/jess.less" />
<script src="../js/prism.js" type="text/javascript"></script>
<script
  src="../../../node_modules/less/dist/less.min.js"
  type="text/javascript"
></script>
<!--end-->
{{# partials.open #}}
<body id="utilities">
  {{# partials.header #}}
  <main>
    <section>
      <article>
        <header>
          <h1>Utility classes</h1>
        </header>

        <p>
          Here are the classes you can use to modify or override default
          behaviour, which are not mentioned in any of the other categories.
        </p>

        <section class="two-columns">
          <div>
            <h2>Border utilities</h2>

            <code class="language-html"> border </code> <br />
            <code class="language-html"> border-bottom </code> <br />
            <code class="language-html"> border-top </code> <br />
            <code class="language-html"> border-left </code> <br />
            <code class="language-html"> border-right </code> <br />
            <h3 class="margin-y">Border colour classes</h3>
            <code class="language-html"> border-primary </code> <br />
            <code class="language-html"> border-accent </code> <br />
            <code class="language-html"> border-danger </code> <br />
            <code class="language-html"> border-black </code> <br />
            <code class="language-html"> border-white </code> <br />
            <code class="language-html"> border-light </code> <br />
          </div>

          <div>
            <p>Examples:</p>
            <div class="border padding-left">Element with border</div>
            <div class="border-bottom padding-left margin-y">
              Element with border-bottom
            </div>
            <div class="border-top padding-left margin-y">
              Element with border-top
            </div>
            <div class="border border-primary padding-left margin-bottom">
              Element with border and border-primary
            </div>
            <div class="border border-accent padding-left margin-bottom">
              Element with border and border-accent
            </div>
            <div class="border border-danger padding-left margin-bottom">
              Element with border and border-danger
            </div>
            <div class="border border-black padding-left margin-bottom">
              Element with border and border-black
            </div>
            <div class="bg-black padding">
              <div class="border border-white padding-left">
                Element with border and border-white
              </div>
            </div>
            <div class="border border-light padding-left margin-y">
              Element with border and border-light
            </div>
          </div>
        </section>
        <section class="two-columns">
          <div>
            <h2>Background colour utilities</h2>

            <code class="language-html"> bg-gray </code> <br />
            <code class="language-html"> bg-gray-dark </code> <br />
            <code class="language-html"> bg-black </code> <br />
            <code class="language-html"> bg-white </code> <br />
            <code class="language-html"> bg-primary </code> <br />
            <code class="language-html"> bg-accent </code> <br />
            <code class="language-html"> bg-danger </code> <br />
          </div>
          <div>
            <p>Examples:</p>
            <div class="bg-gray padding">gray background</div>
            <div class="bg-gray-dark padding">dark gray background</div>
            <div class="bg-black padding">
              black background with auto colour adjustment
            </div>
            <div class="bg-white padding">white background</div>
            <div class="bg-primary padding">
              primary background with auto colour adjustment
            </div>
            <div class="bg-accent padding">
              accent background with auto colour adjustment
            </div>
            <div class="bg-danger padding">
              danger background with auto colour adjustment
            </div>
          </div>
        </section>
        <section class="two-columns">
          <div>
            <h2>Text colour utilities</h2>
            <code class="language-html"> text-black </code> <br />
            <code class="language-html"> text-white </code> <br />
            <code class="language-html"> text-primary </code> <br />
            <code class="language-html"> text-accent </code> <br />
            <code class="language-html"> text-danger </code> <br />
          </div>
          <div>
            <p>Examples:</p>
            <div class="bg-primary text-black padding">black text</div>
            <div class="bg-black text-white padding">white text</div>
            <div class="bg-gray-dark text-primary padding">primary text</div>
            <div class="bg-black text-accent padding">accent text</div>
            <div class="bg-accent text-danger padding">danger text</div>
          </div>
        </section>
      </article>
    </section>
  </main>
  {{# partials.footer #}}
</body>
{{# partials.close #}}
