<footer class="desktop column-end">
  <section class="two-columns space-between w-100 p-0">
    <div class="m-0">
      <span>Documentation powered by</span>
      <a href="https://github.com/pennions/JET"
        >Jelmer's Easy Templating engine</a
      >
    </div>
    <div class="row">
      <div class="row-end row center-content-vertical">
        <span class="mr-1">Created for</span>
        <img
          class="inline-block"
          height="36"
          src="./images/pennions-creative.svg"
          alt="The text Pennions shown in a creative way."
        />
      </div>
    </div>
  </section>
</footer>
<footer class="mobile">
  <section class="column center-content-horizontal w-100">
    <div class="m-0 column center-content-horizontal">
      <span>Documentation powered by</span> <br />
      <a href="https://github.com/pennions/JET"
        >Jelmer's Easy Templating engine</a
      >
    </div>
    <div class="row">
      <div class="row-end row center-content-vertical">
        <span class="mr-1">Created for</span>
        <img
          class="inline-block"
          height="36"
          src="./images/pennions-creative.svg"
          alt="The text Pennions shown in a creative way."
        />
      </div>
    </div>
  </section>
</footer>
