<nav class="py-0">
  <ul class="desktop">
    <li>
      <a href="/JESS/index.html"
        ><h2 class="header-padding">Jelmer's Easy Style System</h2></a
      >
    </li>
    <li><a href="/JESS/index.html">Home</a></li>
    <li><a href="/JESS/layout.html">Layout</a></li>
    <li><a href="/JESS/elements.html">Buttons and Inputs</a></li>
    <li><a href="/JESS/components.html">Components</a></li>
    <li><a href="/JESS/typography.html">Typography</a></li>
    <li><a href="/JESS/utilities.html">Utility classes</a></li>
    <li><a href="/JESS/icons.html">Icons</a></li>
  </ul>
  <div class="mobile w-100">
    <div>
      <a href="/JESS/index.html"
        ><h2 class="header-padding">Jelmer's Easy Style System</h2></a
      >
    </div>
    <section class="pl-0 three-columns">
      <a href="/JESS/index.html">Home</a>

      <a href="/JESS/layout.html">Layout</a>

      <a href="/JESS/elements.html">Buttons and Inputs</a>

      <a href="/JESS/components.html">Components</a>

      <a href="/JESS/typography.html">Typography</a>

      <a href="/JESS/utilities.html">Utility classes</a>

      <a href="/JESS/icons.html">Icons</a>
    </section>
  </div>
</nav>
