/**
 *  The <main> HTML element represents the dominant content of the <body> of a document. 
 *  The main content area consists of content that is directly related to or expands upon the central topic of a document, 
 *  or the central functionality of an application. ~ https://developer.mozilla.org/en-US/docs/Web/HTML/Element/main
 */

@import "../../utilities/layout.less";
@import "../../utilities/variables.less";

main {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;

  & > * {
    .single();
  }

  &.two-columns {
    @media (min-width: @xs) {
      & > * {
        .half();
      }
    }
  }

  &.three-columns {
    @media (min-width: @xs) {
      & > * {
        .half();
      }
    }
    @media (min-width: @sm) {
      & > * {
        .third();
      }
    }
  }

  &.four-columns {
    @media (min-width: @xs) {
      & > * {
        .half();
      }
    }
    @media (min-width: @sm) {
      & > * {
        .third();
      }
    }
    @media (min-width: @md) {
      & > * {
        .fourth();
      }
    }
  }

  &.five-columns {
    @media (min-width: @xs) {
      & > * {
        .half();
      }
    }
    @media (min-width: @sm) {
      & > * {
        .third();
      }
    }

    @media (min-width: @md) {
      & > * {
        .fourth();
      }
    }

    @media (min-width: @lg) {
      & > * {
        .fifth();
      }
    }
  }

  &.six-columns {
    @media (min-width: @xs) {
      & > * {
        .half();
      }
    }
    @media (min-width: @sm) {
      & > * {
        .third();
      }
    }
    @media (min-width: @md) {
      & > * {
        .fourth();
      }
    }

    @media (min-width: @lg) {
      & > * {
        .fifth();
      }
    }

    @media (min-width: @xl) {
      & > * {
        .sixth();
      }
    }
  }

  &.twelve-columns {
    @media (min-width: @xs) {
      & > * {
        .half();
      }
    }
    @media (min-width: @sm) {
      & > * {
        .third();
      }
    }

    @media (min-width: @md) {
      & > * {
        .fourth();
      }
    }

    @media (min-width: @lg) {
      & > * {
        .fifth();
      }
    }

    @media (min-width: @xl) {
      & > * {
        .sixth();
      }
    }

    @media (min-width: @xxl) {
      & > * {
        .twelfth();
      }
    }
  }
}
