/*
 * Calculated with:
 * padding: 1rem;
 * margin: 1rem;
 * gap: 1rem;
 */

.single {
  min-width: 100%;
  width: 100%;
}

.two {
  width: calc(50% - 0.5rem);
  min-width: calc(50% - 0.5rem);
}

.three {
  width: calc(33.333333333333333333333333333333% - 0.7rem);
  min-width: calc(33.333333333333333333333333333333% - 0.7rem);
}

.four {
  width: calc(25% - 0.75rem);
  min-width: calc(25% - 0.75rem);
}

.five {
  width: calc(20% - 0.82rem);
  min-width: calc(20% - 0.82rem);
}

.six {
  width: calc(16.666666666666666666666666666667% - 0.85rem);
  min-width: calc(16.666666666666666666666666666667% - 0.85rem);
}

.twelve {
  width: calc(8.3333333333333333333333333333333% - 0.92rem);
  min-width: calc(8.3333333333333333333333333333333% - 0.92rem);
}

.mobile-only {
  @media (min-width: @lg) {
    display: none;
  }
}

.standard-only {
  @media (max-width: (@lg - 1px)) {
    display: none;
  }
}

.row-end {
  margin-left: auto;
}

.column-end {
  margin-top: auto;
}

.margin {
  margin: 1rem;
}

.margin-top {
  margin-top: 1rem;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.margin-left {
  margin-left: 1rem;
}

.margin-right {
  margin-right: 1rem;
}

.margin-y {
  .margin-top();
  .margin-bottom();
}

.margin-x {
  .margin-left();
  .margin-right();
}

.padding {
  padding: 1rem;
}

.padding-top {
  padding-top: 1rem;
}

.padding-bottom {
  padding-bottom: 1rem;
}

.padding-left {
  padding-left: 1rem;
}

.padding-right {
  padding-right: 1rem;
}

.padding-y {
  .padding-top();
  .padding-bottom();
}

.padding-x {
  .padding-left();
  .padding-right();
}
