/*
 * Calculated with:
 * padding: 1rem;
 * margin: 1rem;
 * gap: 1.5rem;
  */

.w-100 {
  min-width: 100%;
  width: 100%;
}

.w-50 {
  width: calc(50% - 0.75rem);
  min-width: calc(50% - 0.75rem);
}

.w-33 {
  width: calc(33.333333333333333333333333333333% - 1rem);
  min-width: calc(33.333333333333333333333333333333% - 1rem);
}

.w-25 {
  width: calc(25% - 1.13rem);
  min-width: calc(25% - 1.13rem);
}

.w-20 {
  width: calc(20% - 1.2rem);
  min-width: calc(20% - 1.2rem);
}

.w-16 {
  width: calc(16.666666666666666666666666666667% - 1.25rem);
  min-width: calc(16.666666666666666666666666666667% - 1.25rem);
}

.w-8 {
  width: calc(8.3333333333333333333333333333333% - 1.375rem);
  min-width: calc(8.3333333333333333333333333333333% - 1.375rem);
}

.mobile-only {
  @media (min-width: @lg) {
    display: none;
  }
}

.standard-only {
  @media (max-width: (@lg - 1px)) {
    display: none;
  }
}

.row-end {
  margin-left: auto;
}

.column-end {
  margin-top: auto;
}

.align-left {
  padding-left: 0;
}

.align-right {
  padding-right: 0;
}

.sticky {
  position: sticky;
  top: 0;
  height: auto;
  z-index: 1000;

  & > *:first-child {
    position: sticky;
    top: 0;
    height: auto;
  }
}

.full-width {
  width: 100%;
  display: inline-block;
}

.stretch {
  align-self: stretch;
}

.auto-width {
  width: auto;
}

.d-inline-block {
  display: inline-block;
}
