/*
 * Calculated with:
 * padding: 1rem;
 * margin: 1rem;
 * gap: 1rem;
 */

@default-distance: 1rem;

.single {
  min-width: 100%;
  width: 100%;
}

.two {
  width: calc(50% - 0.5rem);
  min-width: calc(50% - 0.5rem);
}

.three {
  width: calc(33.333333333333333333333333333333% - 0.7rem);
  min-width: calc(33.333333333333333333333333333333% - 0.7rem);
}

.four {
  width: calc(25% - 0.75rem);
  min-width: calc(25% - 0.75rem);
}

.five {
  width: calc(20% - 0.82rem);
  min-width: calc(20% - 0.82rem);
}

.six {
  width: calc(16.666666666666666666666666666667% - 0.85rem);
  min-width: calc(16.666666666666666666666666666667% - 0.85rem);
}

.twelve {
  width: calc(8.3333333333333333333333333333333% - 0.92rem);
  min-width: calc(8.3333333333333333333333333333333% - 0.92rem);
}

.mobile-only {
  @media (min-width: @lg) {
    display: none;
  }
}

.standard-only {
  @media (max-width: (@lg - 1px)) {
    display: none;
  }
}

.row-end {
  margin-left: auto;
}

.column-end {
  margin-top: auto;
}

.align-left {
  padding-left: 0;
}

.align-right {
  padding-right: 0;
}
