hr {
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0.5px;
  border-style: solid;
  border-color: var(--hr-colour);
  margin-bottom: @default-distance;
}
