dialog.modal[open]:not(dialog.modal[open='false']) {
  background-color: rgba(var(--overlay-background), 0.5);

  &.transparent {
    background-color: rgba(var(--background), 0);
  }

  & > * {
    background-color: var(--background);
  }
}
