nav {
  &[aria-label='Breadcrumb'] {
    box-shadow: none;
    & ul {
      & > li {
        & > * {
          color: @default-font-color;
        }

        &:not(:last-child)::after {
          color: @default-font-color;
        }
      }

      & a[aria-current='page'] {
        color: @primary;
      }
    }
  }
}

article > nav {
  box-shadow: none;
}

body > nav a,
body > header > nav a {
  color: @default-font-color;
}
