dialog.notification {
  &.error {
    background-color: var(--error);

    & > .icon,
    & > .feather {
      color: var(--icon-error);
    }
  }
  &.warning {
    background-color: var(--warning);

    & > .icon,
    & > .feather {
      color: var(--icon-warning);
    }
  }
  &.success {
    background-color: var(--success);

    & > .icon,
    & > .feather {
      color: var(--icon-success);
    }
  }

  & > .close {
    border: unset;
    background-color: transparent;

    &:hover {
      outline: 0.5px solid var(--button-outline-colour);
    }
  }
}
