dialog.notification {
  &.error {
    background-color: @dialog-error;

    & > .icon,
    & > .feather {
      color: @dialog-error-icon;
    }
  }
  &.warning {
    background-color: @dialog-warning;

    & > .icon,
    & > .feather {
      color: @dialog-warning-icon;
    }
  }
  &.success {
    background-color: @dialog-success;

    & > .icon,
    & > .feather {
      color: @dialog-success-icon;
    }
  }

  & > .close {
    border: unset;
    background-color: transparent;

    &:hover {
      outline: 0.5px solid @button-outline-color;
    }
  }
}
