table {
  &.table {
    & thead {
      .border-bottom();
    }

    & tbody tr {
      .border-bottom();
      border-color: var(--hr-color);

      &:hover {
        background-color: var(--button-hover);
      }
    }

    & tfoot {
      font-size: small;
      font-style: italic;
    }
  }

  &.sticky-header {
    & > thead {
      background-color: var(--background);
      -webkit-box-shadow: 0 1px 4px 0 rgba(var(--shadow-colour), 0.16),
        0 1px 4px 0 rgba(var(--shadow-colour), 0.12);
      box-shadow: 0 1px 4px 0 rgba(var(--shadow-colour), 0.16),
        0 1px 4px 0 rgba(var(--shadow-colour), 0.12);
    }
  }
}

.table-container {
  .border();
  .border-light();
}
