.tooltip,
[data-tooltip] {
  &:hover,
  &:focus {
    &::before {
      background-color: @primary;
      color: @color-on-primary;
      border-radius: 2px;
    }

    &:after {
      border-left: 0.5rem solid transparent;
      border-right: 0.5rem solid transparent;
      border-top: 0.5rem solid @primary;
    }
  }
}
