/**
 *  The <main> HTML element represents the dominant content of the <body> of a document. 
 *  The main content area consists of content that is directly related to or expands upon the central topic of a document, 
 *  or the central functionality of an application. ~ https://developer.mozilla.org/en-US/docs/Web/HTML/Element/main
 */

section > section {
  padding: @default-distance;
}

main,
section {
  display: flex;
  flex-wrap: wrap;
  gap: @default-distance;

  &.dont-stretch {
    justify-content: flex-start;
    align-items: flex-start;
  }

  // For a modal layout
  &.center {
    justify-content: center;

    @media (min-width: @sm) {
      height: calc(100vh);
      align-items: center;

      &.with-footer {
        height: calc(100vh - @footer-min-height - (2 * @default-distance));
      }

      &.with-header {
        height: calc(100vh - @nav-min-height - (2 * @default-distance));
      }

      &.with-header.with-footer {
        height: calc(
          100vh - @nav-and-footer-height - (2 * @default-distance) - 0.5rem
        );
      }
    }
  }

  // When you have a sidebar
  &:not(.center) > aside {
    .single();

    @media (min-width: @md) {
      width: auto;
      min-width: unset;
    }
  }

  &:not(.center) > aside + * {
    .single();

    @media (min-width: @md) {
      width: auto;
      min-width: unset;
      flex: 1; // make it fill the remaining space
    }
  }

  &:not(.center) > * {
    .single();
  }

  &.two-columns {
    .single();
    @media (min-width: @sm) {
      & > * {
        .two();
      }
    }
  }

  &.three-columns {
    .single();
    @media (min-width: @sm) {
      & > * {
        .two();
      }
    }
    @media (min-width: @md) {
      & > * {
        .three();
      }
    }
  }

  &.four-columns {
    .single();
    @media (min-width: @sm) {
      & > * {
        .two();
      }
    }
    @media (min-width: @md) {
      & > * {
        .three();
      }
    }
    @media (min-width: @lg) {
      & > * {
        .four();
      }
    }
  }

  &.five-columns {
    .single();
    @media (min-width: @sm) {
      & > * {
        .two();
      }
    }
    @media (min-width: @md) {
      & > * {
        .three();
      }
    }
    @media (min-width: @lg) {
      & > * {
        .four();
      }
    }
    @media (min-width: @xl) {
      & > * {
        .five();
      }
    }
  }

  &.six-columns {
    .single();
    @media (min-width: @sm) {
      & > * {
        .two();
      }
    }
    @media (min-width: @md) {
      & > * {
        .three();
      }
    }
    @media (min-width: @lg) {
      & > * {
        .four();
      }
    }
    @media (min-width: @xl) {
      & > * {
        .five();
      }
    }
    @media (min-width: @xxl) {
      & > * {
        .six();
      }
    }
  }

  &.twelve-columns {
    .single();
    @media (min-width: @sm) {
      & > * {
        .three();
      }
    }
    @media (min-width: @md) {
      & > * {
        .four();
      }
    }
    @media (min-width: @lg) {
      & > * {
        .five();
      }
    }
    @media (min-width: @xl) {
      & > * {
        .six();
      }
    }
    @media (min-width: @xxl) {
      & > * {
        .twelve();
      }
    }
  }
}
