/**
 *  The <main> HTML element represents the dominant content of the <body> of a document. 
 *  The main content area consists of content that is directly related to or expands upon the central topic of a document, 
 *  or the central functionality of an application. ~ https://developer.mozilla.org/en-US/docs/Web/HTML/Element/main
 */
section,
fieldset {
  padding: @default-distance;
}

main,
section,
fieldset {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;

  & > * {
    .w-100();
  }

  // remove padding in nested childrens
  & > * > * {
    padding: 0;
  }

  & > *:not(:last-child) {
    margin-bottom: @default-distance;
  }

  &.no-stretch {
    justify-content: flex-start;
    align-items: flex-start;
  }

  // For a modal layout
  &.center {
    justify-content: center;

    @media (min-width: @sm) {
      height: calc(100%);
      align-items: center;

      &.with-footer {
        height: calc(100% - @footer-min-height);
      }

      &.with-header {
        height: calc(100% - @nav-max-height);
      }

      &.with-header.with-footer {
        height: calc(100% - @nav-and-footer-height - 0.4rem);
      }
    }

    &.content-top {
      align-items: flex-start;
    }
  }

  // When you have a sidebar
  &:not(.center) > aside {
    .w-100();

    @media (min-width: @xl) {
      width: auto;
      min-width: unset;
    }
  }

  &:not(.center) > aside + * {
    .w-100();

    @media (min-width: @xl) {
      width: auto;
      min-width: unset;
      flex: 1; // make it fill the remaining space
    }
  }

  &.column {
    gap: @default-distance;

    &
      > *:not(.w-100):not(.w-50):not(.w-33):not(.w-25):not(.w-16):not(.w-8):not(hr) {
      width: auto;
      min-width: auto;
    }
  }

  &[class*="-columns"] {
    gap: @default-distance;
    & > * {
      margin-bottom: 0;
    }
  }

  &.two-columns {
    & > *:not(.w-100):not(.w-50):not(.w-33):not(.w-25):not(.w-16):not(.w-8) {
      .w-50();
    }
  }

  &.three-columns {
    & > *:not(.w-100):not(.w-50):not(.w-33):not(.w-25):not(.w-16):not(.w-8) {
      .w-33();
    }
  }

  &.four-columns {
    & > *:not(.w-100):not(.w-50):not(.w-33):not(.w-25):not(.w-16):not(.w-8) {
      .w-25();
    }
  }

  &.five-columns {
    & > *:not(.w-100):not(.w-50):not(.w-33):not(.w-25):not(.w-16):not(.w-8) {
      .w-20();
    }
  }

  &.six-columns {
    & > *:not(.w-100):not(.w-50):not(.w-33):not(.w-25):not(.w-16):not(.w-8) {
      .w-16();
    }
  }

  &.twelve-columns {
    & > *:not(.w-100):not(.w-50):not(.w-33):not(.w-25):not(.w-16):not(.w-8) {
      .w-8();
    }
  }
}
