nav {
  display: flex;
  align-items: center;
  padding: @default-distance;

  & > header {
    width: 100%;
  }

  & > ul {
    & li {
      margin-left: 0;
      &:not(:last-child) > {
        margin-bottom: @default-distance;
      }
    }
  }

  &[aria-label="Breadcrumb"] {
    padding: 0;
    & ul {
      display: flex;
      & > li {
        margin: 0;
        &:not(:last-child)::after {
          content: "/";
          position: relative;
          margin: 0 0.5rem;
        }
      }
    }
  }
}

body > nav {
  max-height: @nav-max-height;

  & > ul {
    display: flex;
    width: 100%;
    gap: @default-distance;
    align-items: center;

    & li:not(:last-child) {
      margin-bottom: 0;
    }
  }
}
