.demo-block {
  background: repeating-linear-gradient(
    135deg,
    #0078d4,
    #0078d4 10px,
    #0068b8 10px,
    #0068b8 20px
  );
  width: 100%;
  text-align: center;
  color: white;
  padding: 1.5rem;
  border-radius: 2px;
}

.demo-navbar {
  box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132),
    0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);
}

.switch-margin {
  margin-left: 3rem;
}
