summary.button,
button {
  border-radius: 2px;
  padding: 0.9rem 1.5rem;
  background-color: transparent;
  border: 0;

  &:focus,
  &:active {
    outline: none;
    cursor: pointer;
    box-shadow: 0 0 0 1px @button-outline-color;
  }

  &:not(.no-border) {
    .border();
    background-color: @default-button-background;
  }

  &:hover {
    cursor: pointer;
    background-color: @default-button-hover;
  }

  &.primary {
    border: 0;
    color: @color-on-primary;
    background-color: @primary;

    &:hover {
      background-color: @primary-hover;
    }
  }

  &.danger {
    border: 0;
    color: @color-on-danger;
    background-color: @danger;

    &:hover {
      background-color: @danger-hover;
    }
  }

  &.accent {
    border: 0;
    color: @color-on-accent;
    background-color: @accent;

    &:hover {
      background-color: @accent-hover;
    }
  }

  &.contrast {
    border: 0;
    color: @color-on-contrast;
    background-color: @contrast;

    &:hover {
      background-color: @contrast-hover;
    }
  }

  &.primary,
  &.danger,
  &.accent,
  &.contrast {
    &:focus,
    &:active {
      box-shadow: 0 0 0 2px @button-outline-color;
    }

    &.disabled,
    &:disabled {
      color: @colored-disabled-button-color;
      cursor: initial;
      outline: none;

      &:not(.link) {
        background-color: @disabled-button-background;
        border-color: @disabled-button-background;
      }
    }
  }

  &.outline-hover:hover {
    background-color: transparent;
    outline: 0.5px solid @button-outline-color;
  }

  &.link {
    border: 0;
    color: @primary;
    background-color: transparent;
    padding: 0;

    &.accent {
      color: @accent;
    }

    &.contrast {
      color: @contrast;
    }

    &.danger {
      color: @danger;
    }

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
      background-color: transparent;
      box-shadow: unset;
    }
  }

  &.disabled,
  &:disabled {
    color: @disabled-button-color;
    cursor: initial;

    &:not(.link) {
      background-color: @disabled-button-background;
      border-color: @disabled-button-background;
    }

    &:hover {
      text-decoration: none;
      outline: none;
    }
  }
}
