select {
  border: 0.5px solid @input-border-color;
  padding: 0.5rem;
  outline: @primary none 0px;
  background-color: @default-background;

  &:focus {
    border-color: @primary;
    box-shadow: inset 1px 1px 0 @primary, inset -1px -1px 0 @primary;
  }

  &:disabled {
    color: @disabled-button-color;
    background-color: @disabled-button-background;
    border-color: @disabled-button-background;
    box-shadow: none;
    cursor: initial;
  }
}

details {
  &.accordion {
    & > div {
      box-shadow: none;
    }
  }

  &.button {
    summary {
      .border();
    }

    &:hover {
      background-color: @default-button-hover;
    }
  }
  &:not(.button):focus {
    outline: none;
    border-color: @primary;
    box-shadow: inset 1px 1px 0 @primary, inset -1px -1px 0 @primary;
  }

  &[open]:not(details[open="false"]) {
    & > *:not(summary) {
      .ms-motion-slideDownIn();
    }
  }

  & > *:not(summary) {
    background-color: @default-background;

    box-shadow: 0 6.4px 14.4px 0 rgba(@shadow-color, 0.132),
      0 1.2px 3.6px 0 rgba(@shadow-color, 0.108);
  }

  &.align-right > *:not(summary) {
    right: 0;
  }
}

nav > details {
  & > summary {
    border: none;
  }
}
