a {
  color: @primary;
  text-decoration: none;

  &:hover,
  &:focus,
  &:focus-visible,
  &:active {
    outline: unset;
    text-decoration: underline;
  }

  &.accent {
    color: @accent;
  }
  &.danger {
    color: @danger;
  }

  &.contrast {
    color: @contrast;
  }

  &.button {
    border-radius: 2px;
    color: @button-color;
    text-decoration: none;
    padding: 0.9rem 1.5rem;
    background-color: transparent;
    display: inline-block;
    text-align: center;

    &.normal {
      .border();

      &.disabled {
        color: @disabled-button-color;
        background-color: @disabled-button-background;
        border-color: @disabled-button-background;
        cursor: default;
      }
    }

    &:hover {
      cursor: pointer;
      background-color: @default-button-hover;
    }

    &:focus,
    &:active {
      outline: none;
      cursor: pointer;
      box-shadow: 0 0 0 1px @button-outline-color;
    }

    &.primary {
      border: 0;
      color: @color-on-primary;
      background-color: @primary;

      &:hover {
        background-color: @primary-hover;
      }
    }

    &.danger {
      border: 0;
      color: @color-on-danger;
      background-color: @danger;

      &:hover {
        background-color: @danger-hover;
      }
    }

    &.accent {
      border: 0;
      color: @color-on-accent;
      background-color: @accent;

      &:hover {
        background-color: @accent-hover;
      }
    }

    &.contrast {
      border: 0;
      color: @color-on-contrast;
      background-color: @contrast;

      &:hover {
        background-color: @contrast-hover;
      }
    }

    &.primary,
    &.danger,
    &.contrast,
    &.accent {
      &:focus,
      &:active {
        box-shadow: 0 0 0 2px @button-outline-color;
      }

      &.disabled {
        color: @colored-disabled-button-color;
        background-color: @disabled-button-background;
        border-color: @disabled-button-background;
        cursor: default;
      }
    }
  }
}
