table.table {
  & td,
  & th {
    padding: calc(@default-distance / 3) calc(@default-distance * 2)
      calc(@default-distance / 3) calc(@default-distance / 2);

    & > button {
      border: none;
      padding: 0.5rem;
      margin-left: -0.5rem;
    }
  }

  & thead {
    .border-bottom();
  }

  & tbody tr {
    .border-bottom();
    border-color: @hr-color;

    &:hover {
      background-color: @default-button-hover;
    }
  }

  & tfoot {
    font-size: small;
    font-style: italic;
  }
}
