details {
  margin: 0 0.8rem;
  &:hover {
    cursor: pointer;
  }

  &:not(.accordion) > summary {
    display: table;
  }

  &.accordion {
    & > div {
      position: relative;
      margin: 0.5rem;
    }
  }

  summary {
    padding: 0.5rem;
  }

  & > div {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
  }
}
