/* traditional top or bottom notification*/
dialog.notification {
  top: 0;
  width: 100%;
  z-index: 1040;
  position: sticky;
  position: --webkit-sticky;
  padding: calc(@default-distance / 3);
  padding-left: @default-distance;
  max-height: @nav-max-height;
  display: flex;
  align-items: center;

  & > .close {
    margin-left: auto;
  }
  .ms-motion-slideDownIn();

  &.bottom {
    .ms-motion-slideUpIn();
    bottom: 0;
  }
}
