table {
  border-collapse: collapse;
  & td,
  & th {
    text-align: left;
    padding: calc(@default-distance / 3) calc(@default-distance * 2)
      calc(@default-distance / 3) calc(@default-distance / 2);
  }
}
