nav {
  background-color: var(--background);
  box-shadow: 0 1.6px 3.6px 0 rgba(var(--shadow-colour), 0.132),
    0 0.3px 0.9px 0 rgba(var(--shadow-colour), 0.108);
}

body > footer {
  box-shadow: 0 -1.6px 3.6px 0 rgba(var(--shadow-colour), 0.132),
    0 -0.3px 0.9px 0 rgba(var(--shadow-colour), 0.108);
  background-color: var(--background);
}

dialog {
  background-color: var(--background);
  .border();
}

aside {
  & > nav {
    background-color: var(--background);
    box-shadow: 0 6.4px 14.4px 0 rgba(var(--shadow-colour), 0.132),
      0 1.2px 3.6px 0 rgba(var(--shadow-colour), 0.108);
  }
}

nav > ul > li {
  list-style-type: none;
}

html {
  background-color: var(--html-background);
}
