@ms-color-gray160: #323130;
@ms-color-gray130: #605e5c;
@ms-color-gray110: #8a8886;
@ms-color-gray90: #a19f9d;
@ms-color-gray60: #c8c6c4;
@ms-color-gray50: #d2d0ce;
@ms-color-gray40: #e1dfdd;
@ms-color-gray20: #f3f2f1;
@ms-color-sharedCyanBlue10: #0078d4;
@ms-color-sharedCyanBlue10-hover: #0068b8;
@ms-color-sharedRed10: #d13438;
@ms-color-sharedRed10-hover: #bb2a2f;
@ms-color-sharedYellow10: #fce100;
@ms-color-sharedYellow10-hover: #e6cf00;

@default-background: white;

@default-button-background: white;
@default-button-hover: @ms-color-gray40;

@button-outline-color: black;
@button-color: black;

@primary: @ms-color-sharedCyanBlue10;
@primary-hover: @ms-color-sharedCyanBlue10-hover;
@color-on-primary: white;

@danger: @ms-color-sharedRed10;
@danger-hover: @ms-color-sharedRed10-hover;
@color-on-danger: white;

@accent: @ms-color-sharedYellow10;
@accent-hover: @ms-color-sharedYellow10-hover;
@color-on-accent: black;

@input-border-color: @ms-color-gray130;
@range-track-color: @ms-color-gray60;
@range-filled-track-color: @ms-color-gray130;
@range-track-hover-color:  	#e0f2ff;

@disabled-button-background: @ms-color-gray20;
@disabled-button-color: @ms-color-gray90;
@colored-disabled-button-color: @ms-color-gray50;

