/** used internally, so can not be important. */
.border {
  border: 0.5px solid @border-color;
}

.border-bottom {
  border-bottom: 0.5px solid @border-color;
}

.border-top {
  border-top: 0.5px solid @border-color;
}

.border-right {
  border-right: 0.5px solid @border-color;
}

.border-left {
  border-left: 0.5px solid @border-color;
}
/** */

.bg-gray {
  background-color: @gray-background !important;
  color: @default-font-color !important;
}

.bg-gray-dark {
  background-color: @gray-background-dark !important;
  color: @default-font-color !important;
}

.bg-black {
  background-color: #000 !important;
  color: @ms-color-gray60 !important;
}

.bg-white {
  background-color: #fff !important;
  color: @default-font-color !important;
}

.bg-primary {
  background-color: @primary !important;
  color: @color-on-primary !important;
}

.bg-accent {
  background-color: @accent !important;
  color: @color-on-accent !important;
}

.bg-danger {
  background-color: @danger !important;
  color: @color-on-danger !important;
}

.text-black {
  color: #000 !important;
}

.text-white {
  color: #fff !important;
}

.text-border {
  color: @border-color !important;
}

.icon-gray {
  stroke: @icon-gray!important;
  & svg {
    stroke: @icon-gray!important;
  }
}

.icon-gray-dark {
  stroke: @icon-gray-dark !important;
  & svg {
    stroke: @icon-gray-dark !important;
  }
}

.icon-success {
  stroke: @ms-color-success-icon !important;
  & svg {
    stroke: @ms-color-success-icon !important;
  }
}

.icon-primary {
  stroke: @primary !important;
  & svg {
    stroke: @primary !important;
  }
}

.icon-accent {
  stroke: @accent !important;
  & svg {
    stroke: @accent !important;
  }
}

.icon-danger {
  stroke: @danger !important;
  & svg {
    stroke: @danger !important;
  }
}

.icon-black {
  stroke: #000 !important;
  & svg {
    stroke: #000 !important;
  }
}

.icon-white {
  stroke: #fff !important;
  & svg {
    stroke: #fff !important;
  }
}

.text-primary {
  color: @primary !important;
}

.text-accent {
  color: @accent !important;
}

.text-danger {
  color: @danger !important;
}

.text-success {
  color: @ms-color-success-icon !important;
}

.border-black {
  border-color: #000 !important;
}

.border-white {
  border-color: #fff !important;
}

.border-primary {
  border-color: @primary !important;
}

.border-accent {
  border-color: @accent !important;
}

.border-danger {
  border-color: @danger !important;
}

.border-light {
  border-color: @hr-color !important;
}

.border-success {
  border-color: @ms-color-success-icon !important;
}

.text-normal {
  font-weight: normal !important;
}
